.error-message{
    color: red;
}


input {
    border-radius: 15px;
    border: 2px solid white;
    transition: ease-in-out .2s;
    
  }
  input:focus{
   outline: none;
   background-color: rgb(228, 228, 228);
  }
  
  .botao-comprar{
    border: none;
    color: white;
    background-color: rgb(187, 0, 255);
    width: 150px;
    height: 60px;
    transition: .5s;
    border-radius: 10px;
  }

  .botao-comprar:hover{
    background-color: rgb(86, 0, 147);
    border-radius: 20px;
  }

  .edit-ingressos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-left: 3em;

  }
  .fundo {
    background: linear-gradient(rgb(86, 0, 147), rgb(119, 60, 162));
    height: 100%;
    display: flex;
    align-items: center;
    
}
.fundo-ingresso{
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  padding-top: 2em;
  padding-bottom: 2em;
  border: 1px solid whitesmoke;
}


input[type=radio]{
  margin-right: 1em;
  height: 15px;
  width: 15px;
}
.input-form{
  gap: 5px;
  color: white;
}

@media (max-width: 640px) {
  .input-form{
    flex-direction: column;
  }
}